@charset "utf-8";

HTML
{
	background : #2F243A;
	background : rgba(47, 36, 58, 1);
}

.inputTitles
{
	font-family : Consolas;
	font-size : 25px;
	color : rgb(179, 179, 179);
	margin:20px;
}
.titleText
{
	font-family : High Tower Text;
	font-size : 40px;
	color : rgb(179, 179, 179);
	text-outline : rgb(27, 20, 100);
	margin:auto;
	padding:15px;
	text-align: center;
}
.loginBtn
{
	font-family : Consolas;
	font-size : 25px;
	color : #000000;
	color : rgb(0, 0, 0);
	background : #746187;
	background : rgba(116, 97, 135, 1);
	border-style : Solid;
	border-color : #BC98DA;
	border-color : rgba(188, 152, 218, 1);
	border-width : 1px;
	border-radius : 6px;
	margin:20px;
	-moz-border-radius : 6px;
	-webkit-border-radius : 6px;
}
.registerBtn
{
	font-family : Consolas;
	font-size : 25px;
	color : #000000;
	color : rgb(0, 0, 0);
	background : #746187;
	background : rgba(116, 97, 135, 1);
	border-style : Solid;
	border-color : #BC98DA;
	border-color : rgba(188, 152, 218, 1);
	border-width : 1px;
	border-radius : 6px;
	-moz-border-radius : 6px;
	-webkit-border-radius : 6px;
}
.username
{
	font-family : Myriad Pro;
	font-size : 20px;
	color : #000000;
	color : rgb(0, 0, 0);
	background : #CCCCCC;
	background : rgba(204, 204, 204, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
}
.container
{
	background : #595062;
	background : rgba(89, 80, 98, 1);
	border-style : Solid;
	border-color : #BC98DA;
	border-color : rgba(188, 152, 218, 1);
	border-width : 1px
	margin: 10px;
}
.background
{
	background : #ACA0B7;
	background : rgba(172, 160, 183, 1);
	border-style : Solid;
	border-color : #BC98DA;
	border-color : rgba(188, 152, 218, 1);
	border-width : 1px;
}
.password
{
	font-family : Myriad Pro;
	font-size : 20px;
	color : #000000;
	color : rgb(0, 0, 0);
	background : #CCCCCC;
	background : rgba(204, 204, 204, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
}
