<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Family Tree Creator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/controlpanel.css">
        <link rel="stylesheet" type="text/css" href="/static/ModelBox.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="headerContainer">
            <h1 class="titleText">Welcome Back
                {{ name }}!</h1>
        </div>
        <div class="body">
            <div class="dropdownContainer">
                <div class="dropdown">
                    <p class="titleText">Your Treehouses</p>
                    <ul class="dropdown-menu">
                        {% for family in families %}
                            <li>
                                <a href="{{ family }}">
                                    <span class="caret">{{ family }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="buttonContainer">
                <button id="removeBtn" class="Btn">Remove Treehouse</button><br>
                <button id="addBtn" class="Btn">Add Treehouse</button><br>
                <button class="Btn" onclick="logout()">Logout</button>
            </div>
        </div>
        <div id="addModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 style="font-family : Consolas, monaco, monospace;">Enter family name</h2>
                <form action="/addTree" method="post">
                    <br>
                    <label class="registerInputTitles">Family Name:</label>
                    <input type="name" name="treeName" class="registerInputText" placeholder="Name">
                    <br><br>
                    <button class="Btn" id="addBtn">Add Treehouse</button>
                </form>
            </div>
        </div>
        <div id="removeModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 style="font-family : Consolas, monaco, monospace;">Enter name of tree to remove</h2>
                <form action="/removeTree" method="post">
                    <br>
                    <label class="registerInputTitles">Family Name:</label>
                    <input type="name" name="treeName" class="registerInputText" placeholder="Name">
                    <br><br>
                    <button class="Btn" id="removeBtn">Delete Treehouse</button>
                </form>
            </div>
        </div>
    </body>
    <script>
        var modal = document.getElementsByClassName("modal")[0];
        var addBtn = document.getElementById("addBtn");
        var addSpan = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal
        addBtn.onclick = function() {
            event.preventDefault();
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        addSpan.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var removeBtn = document.getElementById("removeBtn");
        var removeSpan = document.getElementsByClassName("close")[1];
        // When the user clicks the button, open the modal
        removeBtn.onclick = function() {
            event.preventDefault();
            modal = document.getElementsByClassName("modal")[1];
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        removeSpan.onclick = function() {
            modal.style.display = "none";
        }

        function logout() {
            event.preventDefault();
            $.ajax({
                url: '/logout',
                type: 'POST',
                success: function(response) {
                  console.log("logout")
                  window.location = "/";
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
</html>
