<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Family Tree Creator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/controlpanel.css">
        <script>
            function register() {}
        </script>
    </head>
    <body>
        <div class="headerContainer">
            <h1 class="titleText">Welcome Back {{ name }}!</h1>
            </div>
            <div class="container">
                <div class="dropdownContainer">
                    <h2 class="titleText">Your Treehouses</h2>
                </div>
                <button class="shareBtn" onclick="share">Share Treehouse</button>
                <button class="removeBtn" onclick="remove">Remove Treehouse</button>
                <button class="addBtn" onclick="add">Add Treehouse</button>
                <button class="logoutBtn" onclick="logout">Logout</button>
            </div>
        </body>
    </html>
