<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Family Tree Creator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/ModelBox.css">
    </head>
    <body>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 style="font-family : Consolas, monaco, monospace;">The familyName</h2>
                <form>
                  <br><br>
                  <label class="registerInputTitles">This entry is a:</label>
                  <select>
			<option value="Child">Child</option>
			<option value="Parent">Parent</option>
		  </select>
                  <br><br>
                  <label class="registerInputTitles">Name:</label>
                  <input type="name" name="entryType" class="registerInputText" placeholder="Name">
                  <br><br>
                  <label class="registerInputTitles">Birthdate:</label>
                  <input type="birthdate" name="entryType" class="registerInputText" style="width:53%"placeholder="MM/DD/YYYY">
                  <br><br><button class="Btn" onclick="selectParent()">Select Other Parent</button>
		  <br><br><button class="Btn" onclick="addEntry()">Add Entry</button>
		</form>
            </div>
        </div>
    </body>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal
        btn.onclick = function() {
          event.preventDefault();
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</html>