<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ familyName }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/regions_update.css">
        <link rel="stylesheet" type="text/css" href="/static/ModelBox.css">				<!-- change back to "/static/ModelBox.css" -->
        <script src="static/regions.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="panel">
            <div class="buttonsDiv"></div>
            <div id="titleDiv">
                <h1 class="titleText">{{ family }}</h1>
            </div>
            <div class="buttonsDiv">
                <button class="Btn" style="position: absolute; top: 15px; left: 15px" onclick="controlPanel()">Control Panel</button>
                <button class="Btn" style="position: absolute; top: 15px; left: 240px" onclick="logout()">Logout</button>
            </div>
        </div>

        <div class="center">
            <div class="treePanel">
              <div id="graph" style="background: rgba(255, 255, 255, 1);"></div>
            </div>
        </div>

        <div class="footer">
            <div class="footerPanel">
                <div id="buttonContainer">
                    <button id="addBtn" class="Btn" onclick="add()">Add</button>
                    <button id="editBtn" class="Btn" onclick="edit()">Edit</button>
                    <button id="removeBtn" class="Btn" onclick="remove()">Remove</button>
                    <button id="downloadBtn" class="Btn" onclick="download()">Download</button>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 style="font-family : Consolas, monaco, monospace;">Create Family Member</h2>
                <form onsubmit="return addMember();">
                    <label class="registerInputTitles">*Gender:</label>
                    <select name="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br><br>
                    <label class="registerInputTitles">*Name:</label>
                    <input type="name" name="name" class="registerInputText" placeholder="Name">
                    <br><br>
                    <label class="registerInputTitles">Mother:</label>
                    <select name="mother">
                      <option>None</option>
                      {% for member in members %}
                        <option>{{ member }}</option>
                      {% endfor %}
                    </select>
                    <br><br>
                    <label class="registerInputTitles">Spouse:</label>
                    <select name="spouse">
                      <option>None</option>
                      {% for member in members %}
                        <option>{{ member.name }}</option>
                      {% endfor %}
                    </select>
                    <br><br>
                    <p class="registerInputTitles">*Required field</p>
                    <br>
                    <button class="Btn" id="addBtn">Add Member</button>
                </form>
            </div>
        </div>
        <div id="removeModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 style="font-family : Consolas, monaco, monospace;">The familyName</h2>
                <form onsubmit="return removeMember();">
                    <br>
                    <label class="registerInputTitles">Name:</label>
                    <input type="name" name="treeName" class="registerInputText" placeholder="Name">
                    <br><br>
                    <button class="Btn" id="removeBtn">Delete Member</button>
                </form>
            </div>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 style="font-family : Consolas, monaco, monospace;">Edit Family Member</h2>
                <form onsubmit="return editMember();">
                    <br>
                    <label class="registerInputTitles">Select family member:</label>
                    <select name="editName">
                      <option>None</option>
                      {% for member in members %}
                        <option>{{ member }}</option>
                      {% endfor %}
                    </select>
                    <br><br>
                    <label class="registerInputTitles">Mother:</label>
                    <select name="editMother">
                      <option>None</option>
                      {% for member in members %}
                        <option>{{ member }}</option>
                      {% endfor %}
                    </select>
                    <br><br>
                    <label class="registerInputTitles">Spouse:</label>
                    <select name="editSpouse">
                      <option>None</option>
                      {% for member in members %}
                        <option>{{ member }}</option>
                      {% endfor %}
                    </select>
                    <br><br>
                    <button class="Btn" id="editBtn">Update Member</button>
                </form>
            </div>
        </div>

    </body>

    <script src="https://cdn.rawgit.com/ErikGartner/dTree/2.0.0/dist/dTree.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script>
        //MODAL CONNECTIONS
        // add modal
        var modal = document.getElementsByClassName("modal")[0];
        var addBtn = document.getElementById("addBtn");
        var addSpan = document.getElementsByClassName("close")[0];
        addBtn.onclick = function() {
            event.preventDefault();
            modal = document.getElementsByClassName("modal")[0];
            modal.style.display = "block";
        }
        addSpan.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // edit modal
        var editBtn = document.getElementById("editBtn");
        var editSpan = document.getElementsByClassName("close")[2];
        editBtn.onclick = function() {
            event.preventDefault();
            modal = document.getElementsByClassName("modal")[2];
            modal.style.display = "block";
        }
        editSpan.onclick = function() {
            modal.style.display = "none";
        }

        //remove modal
        var removeBtn = document.getElementById("removeBtn");
        var removeSpan = document.getElementsByClassName("close")[1];
        removeBtn.onclick = function() {
            event.preventDefault();
            modal = document.getElementsByClassName("modal")[1];
            modal.style.display = "block";
        }
        removeSpan.onclick = function() {
            modal.style.display = "none";
        }

	      //Sets data for initial tree to be drawn.
        var familyGraph = {{familyGraph|tojson|safe}}

        treeData =
        [{ name: "Father",
                "class": "man",
                marriages: [{"spouse": { "name": "Mother", "class": "woman",}, "children": [{  "name": "Child", "class": "man",}]}]
        }]

      	//Is called to draw initial tree.
      	drawGraph(familyGraph)

        //Redraws graph found in variable treeData.
        function refreshGraph()
        {
            document.getElementById("graph").innerHTML= "";
            treeData.name = "new";
            dTree.init
            (
                treeData,
                {
                    target: "#graph",
                    debug: true,
                    height: 800,
                    width: 1250,
                    callbacks:
                    {
                        nodeClick: function(name, extra)
                        {
                            console.log(name);
                        }
                    }
                }
            );
        }

        //Call before parsing string into JSON object
        function normalizeJSON(s)
      	{
      		s = s.split(", ]").join("]")
          s = s.split("\'").join("\"")
          return s
      	}

      	//takes an argument in the form of a string and turns it into drawn tree.
      	function drawGraph(graphString)
      	{
          newData = JSON.parse(normalizeJSON(graphString));
      		treeData = newData;
      		refreshGraph();
      	}

        function getMembers(){
          event.preventDefault();
            $.ajax({
                url: '/getMembers',
                type: 'POST',
                success: function(response) {
                    console.log(response)
                    d = JSON.parse(response)
                    {% set members = d %}
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

/*
 //http://stackoverflow.com/questions/27230293/how-to-convert-svg-to-png-using-html5-canvas-javascript-jquery-and-save-on-serve
 //http://jsfiddle.net/epistemex/xfh7nctk/23/
var svgText = document.getElementsByTagName("svg");
var myCanvas = document.getElementById("canvas");
var ctxt = myCanvas.getContext("2d");

function drawInlineSVG(ctx, rawSVG, callback) {

  var svg = new Blob([rawSVG], {
      type: "image/svg+xml;charset=utf-8"
    }),
    domURL = self.URL || self.webkitURL || self,
    url = domURL.createObjectURL(svg),
    img = new Image;

  img.onload = function() {
    ctx.drawImage(this, 0, 0);
    domURL.revokeObjectURL(url);
    callback(this);
  };

  img.src = url;
}

// usage:
drawInlineSVG(ctxt, svgText, function() {
  console.log(canvas.toDataURL()); // -> PNG
  alert("see console for output...");
});
*/

    </script>
</html>
