<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ familyName }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/regions_update.css">
        <link rel="stylesheet" type="text/css" href="/static/ModelBox.css">
        <script src="static/regions.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="panel">
            <div class="buttonsDiv"></div>
            <div id="titleDiv">
                <h1 class="titleText">{{ familyName }}</h1>
            </div>
            <div class="buttonsDiv">
                <button class="Btn" onclick="controlPanel()">Control Panel</button>
                <button class="Btn" onclick="logout()">Logout</button>
            </div>
        </div>

        <div class="center">
            <div class="treePanel">
              <div id="graph"></div>                <!-- if we can get the footer stuck to bottom, no need for height-->
            </div>
        </div>

        <div class="footer">
            <div class="footerPanel">
                <div id="buttonContainer">
                    <button id="addBtn" class="Btn" onclick="add()">Add</button>
                    <button id="editBtn" class="Btn" onclick="edit()">Edit</button>
                    <button id="removeBtn" class="Btn" onclick="remove()">Remove</button>
                    <button id="downloadBtn" class="Btn" onclick="download()">Download</button>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 style="font-family : Consolas, monaco, monospace;">Create Family Member</h2>
                <form>
                    <br>
                    <label class="registerInputTitles">Gender:</label>
                    <select>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br><br>
                    <label class="registerInputTitles">Name:</label>
                    <input type="name" name="entryType" class="registerInputText" placeholder="Name">
                    <br><br>
                    <label class="registerInputTitles">Parent1:</label>
                    <select>
                        <option>Child</option>
                    </select>
                    <br><br>
                    <label class="registerInputTitles">Parent2:</label>
                    <select>
                    </select>
                    <br><br>
                    <button class="Btn" onclick="addEntry()">Add Member</button>
                </form>
            </div>
        </div>
        <div id="removeModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 style="font-family : Consolas, monaco, monospace;">The familyName</h2>
                <form action="/removeNode" method="post">
                    <br>
                    <label class="registerInputTitles">Name:</label>
                    <input type="name" name="treeName" class="registerInputText" placeholder="Name">
                    <br><br>
                    <button class="Btn" id="removeBtn">Delete Person</button>
                </form>
            </div>
        </div>
    </body>
    <script>
        //MODAL CONNECTIONS
        // add modal
        var modal = document.getElementsByClassName("modal")[0];
        var addBtn = document.getElementById("addBtn");
        var addSpan = document.getElementsByClassName("close")[0];
        addBtn.onclick = function() {
            event.preventDefault();
            modal.style.display = "block";
        }
        addSpan.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // edit modal
        var editBtn = document.getElementById("editBtn");
        var editSpan = document.getElementsByClassName("close")[0];
        editBtn.onclick = function() {
            event.preventDefault();
            modal = document.getElementsByClassName("modal")[0];
            modal.style.display = "block";
        }
        editSpan.onclick = function() {
            modal.style.display = "none";
        }

        //remove modal
        var removeBtn = document.getElementById("removeBtn");
        var removeSpan = document.getElementsByClassName("close")[1];
        removeBtn.onclick = function() {
            event.preventDefault();
            modal = document.getElementsByClassName("modal")[1];
            modal.style.display = "block";
        }
        removeSpan.onclick = function() {
            modal.style.display = "none";
        }

        /*
            //psuedocode for constructing tree

            struct nodeStruct
            {
                string name;
                string spouseName;
                string children;
                string fatherName;
                string motherName;
                string gender;
            }

            int main()
            {
                nodeStruct node = getRootNode();
                constructTree(node);
            }

            jsonObject getRootNode()
            {
                //iterate through each row of database/returned json object
                for (each row in database)
                {
                    if (fatherName == "" && motherName == "" && gender == "f")
                    {
                        return this node;
                    }
                }
            }

            //global variable
            string familyTreeString = "";

            //recursive function that manipulates global variable;
            string constructTree(node)
            {
                if (node.spouseName != "")
                {
                    get name of spouse
                    familyTreeString.append(the root node's marriage);

                    search database for children
                    if (child == true)
                    for (each child of rootNode)
                    {
                        familyTreeString.append(child to root node);
                        constructTree(child);
                    }
                }

                //Check if single parent has child
                if (children == true && spouseName == "")
                for (each child of rootNode)
                {
                    familyTreeString.append(child to root node);
                    constructTree(child)
                }

                string tempString = familyTreeString;
                familyTreeString = "";
                return tempString;
            }
        */


            //Change the content of treedata to request SQL data before loading.
            //Function of the add button will refresh the page after updating database.
            //Tree Data and initialization function
              treeData =
              [{ name: "Father",
                        "class": "man",
                        "textClass": "nodeText",
                        marriages: [{"spouse": { "name": "Mother", "class": "woman",}, "children": [{  "name": "Child", "class": "man",}]}]
              }]

              treeData.name = "new";

              dTree.init(treeData, {
                target: "#graph",
                debug: true,
                height: 800,
                width: 1200,
                callbacks: {
                  nodeClick: function(name, extra) {
                    console.log(name);
                  }
                }

              });
    </script>
</html>
